* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

input {
    background: #334155;
    color: white;
}

input[readonly] {
    opacity: 0.7;
}

button {
    background: #22c55e;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #16a34a;
}

.summary {
    background: #334155;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}
.back:hover {
    text-decoration: underline;
}